<a href="https://colab.research.google.com/github/Sawaiz8/Keras-Practice-Modeling/blob/main/TL_by_heaton_tabular_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [111]:
import pandas as pd
import io
import requests 
import numpy as np
from sklearn import metrics
from sklearn.datasets import load_iris

In [112]:
import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense, Activation
from keras.callbacks import EarlyStopping
from keras import utils

In [113]:
df = load_iris()

In [114]:
df = pd.read_csv(
    "https://data.heatonresearch.com/data/t81-558/iris.csv", 
    na_values=['NA', '?'])

In [115]:
#Shuffle the dataset
df = df.sample(frac=1) 
df.head()

     sepal_l  sepal_w  petal_l  petal_w          species
80       5.5      2.4      3.8      1.1  Iris-versicolor
135      7.7      3.0      6.1      2.3   Iris-virginica
53       5.5      2.3      4.0      1.3  Iris-versicolor
145      6.7      3.0      5.2      2.3   Iris-virginica
87       6.3      2.3      4.4      1.3  Iris-versicolor

In [116]:
#For giving data to NN first convert it to numpy

#Slice out the columns first
columns = df.columns
x_columns = df[columns[:len(columns)-1]] 
y_columns = df[columns[len(columns)-1]]

#convert to numpy
X_train = x_columns.values #values just gives us an numpy array for the dataframe
Y_dummies = pd.get_dummies(y_columns)
print(Y_dummies)
#Dummies seperates each class and then you can use it to differenciate in an NN
Y_train = Y_dummies.values

     Iris-setosa  Iris-versicolor  Iris-virginica
80             0                1               0
135            0                0               1
53             0                1               0
145            0                0               1
87             0                1               0
..           ...              ...             ...
89             0                1               0
26             1                0               0
57             0                1               0
122            0                0               1
78             0                1               0

[150 rows x 3 columns]

In [117]:
#TRying to use pandas to shuffle
df.head()

     sepal_l  sepal_w  petal_l  petal_w          species
80       5.5      2.4      3.8      1.1  Iris-versicolor
135      7.7      3.0      6.1      2.3   Iris-virginica
53       5.5      2.3      4.0      1.3  Iris-versicolor
145      6.7      3.0      5.2      2.3   Iris-virginica
87       6.3      2.3      4.4      1.3  Iris-versicolor

In [136]:
model = Sequential()
model.add(Dense(128, input_dim = x.shape[1], activation = 'relu')) #Input dim of 1 example
model.add(Dense(64, activation = 'relu'))

In [137]:
model.add(Dense(28, activation = 'relu'))
model.add(Dense(3, activation = 'softmax'))

In [138]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics = ['accuracy'])
history = model.fit(X_train,Y_train,verbose=2,epochs=100)

Epoch 1/100
5/5 - 1s - loss: 1.1110 - accuracy: 0.4133 - 704ms/epoch - 141ms/step
Epoch 2/100
5/5 - 0s - loss: 0.9568 - accuracy: 0.5867 - 16ms/epoch - 3ms/step
Epoch 3/100
5/5 - 0s - loss: 0.8639 - accuracy: 0.7467 - 16ms/epoch - 3ms/step
Epoch 4/100
5/5 - 0s - loss: 0.7676 - accuracy: 0.7867 - 17ms/epoch - 3ms/step
Epoch 5/100
5/5 - 0s - loss: 0.6979 - accuracy: 0.8000 - 21ms/epoch - 4ms/step
Epoch 6/100
5/5 - 0s - loss: 0.6301 - accuracy: 0.8867 - 16ms/epoch - 3ms/step
Epoch 7/100
5/5 - 0s - loss: 0.5671 - accuracy: 0.8800 - 16ms/epoch - 3ms/step
Epoch 8/100
5/5 - 0s - loss: 0.5099 - accuracy: 0.9067 - 16ms/epoch - 3ms/step
Epoch 9/100
5/5 - 0s - loss: 0.4584 - accuracy: 0.9333 - 15ms/epoch - 3ms/step
Epoch 10/100
5/5 - 0s - loss: 0.4138 - accuracy: 0.9533 - 15ms/epoch - 3ms/step
Epoch 11/100
5/5 - 0s - loss: 0.3758 - accuracy: 0.9667 - 16ms/epoch - 3ms/step
Epoch 12/100
5/5 - 0s - loss: 0.3416 - accuracy: 0.9600 - 15ms/epoch - 3ms/step
Epoch 13/100
5/5 - 0s - loss: 0.3099 - accuracy: 0.9600 - 15ms/epoch - 3ms/step
Epoch 14/100
5/5 - 0s - loss: 0.2920 - accuracy: 0.9733 - 15ms/epoch - 3ms/step
Epoch 15/100
5/5 - 0s - loss: 0.2652 - accuracy: 0.9667 - 15ms/epoch - 3ms/step
Epoch 16/100
5/5 - 0s - loss: 0.2445 - accuracy: 0.9733 - 20ms/epoch - 4ms/step
Epoch 17/100
5/5 - 0s - loss: 0.2269 - accuracy: 0.9667 - 15ms/epoch - 3ms/step
Epoch 18/100
5/5 - 0s - loss: 0.2104 - accuracy: 0.9800 - 16ms/epoch - 3ms/step
Epoch 19/100
5/5 - 0s - loss: 0.1973 - accuracy: 0.9667 - 17ms/epoch - 3ms/step
Epoch 20/100
5/5 - 0s - loss: 0.1846 - accuracy: 0.9733 - 15ms/epoch - 3ms/step
Epoch 21/100
5/5 - 0s - loss: 0.1727 - accuracy: 0.9800 - 15ms/epoch - 3ms/step
Epoch 22/100
5/5 - 0s - loss: 0.1603 - accuracy: 0.9733 - 15ms/epoch - 3ms/step
Epoch 23/100
5/5 - 0s - loss: 0.1506 - accuracy: 0.9867 - 17ms/epoch - 3ms/step
Epoch 24/100
5/5 - 0s - loss: 0.1449 - accuracy: 0.9733 - 15ms/epoch - 3ms/step
Epoch 25/100
5/5 - 0s - loss: 0.1462 - accuracy: 0.9533 - 15ms/epoch - 3ms/step
Epoch 26/100
5/5 - 0s - loss: 0.1285 - accuracy: 0.9733 - 16ms/epoch - 3ms/step
Epoch 27/100
5/5 - 0s - loss: 0.1356 - accuracy: 0.9600 - 15ms/epoch - 3ms/step
Epoch 28/100
5/5 - 0s - loss: 0.1250 - accuracy: 0.9667 - 19ms/epoch - 4ms/step
Epoch 29/100
5/5 - 0s - loss: 0.1144 - accuracy: 0.9800 - 15ms/epoch - 3ms/step
Epoch 30/100
5/5 - 0s - loss: 0.1094 - accuracy: 0.9800 - 15ms/epoch - 3ms/step
Epoch 31/100
5/5 - 0s - loss: 0.1113 - accuracy: 0.9733 - 15ms/epoch - 3ms/step
Epoch 32/100
5/5 - 0s - loss: 0.1070 - accuracy: 0.9733 - 15ms/epoch - 3ms/step
Epoch 33/100
5/5 - 0s - loss: 0.1130 - accuracy: 0.9467 - 26ms/epoch - 5ms/step
Epoch 34/100
5/5 - 0s - loss: 0.1078 - accuracy: 0.9667 - 16ms/epoch - 3ms/step
Epoch 35/100
5/5 - 0s - loss: 0.1024 - accuracy: 0.9600 - 16ms/epoch - 3ms/step
Epoch 36/100
5/5 - 0s - loss: 0.1056 - accuracy: 0.9667 - 15ms/epoch - 3ms/step
Epoch 37/100
5/5 - 0s - loss: 0.1038 - accuracy: 0.9667 - 16ms/epoch - 3ms/step
Epoch 38/100
5/5 - 0s - loss: 0.1180 - accuracy: 0.9467 - 16ms/epoch - 3ms/step
Epoch 39/100
5/5 - 0s - loss: 0.0868 - accuracy: 0.9800 - 16ms/epoch - 3ms/step
Epoch 40/100
5/5 - 0s - loss: 0.1107 - accuracy: 0.9533 - 15ms/epoch - 3ms/step
Epoch 41/100
5/5 - 0s - loss: 0.0810 - accuracy: 0.9800 - 16ms/epoch - 3ms/step
Epoch 42/100
5/5 - 0s - loss: 0.0961 - accuracy: 0.9667 - 15ms/epoch - 3ms/step
Epoch 43/100
5/5 - 0s - loss: 0.0917 - accuracy: 0.9667 - 17ms/epoch - 3ms/step
Epoch 44/100
5/5 - 0s - loss: 0.1000 - accuracy: 0.9600 - 17ms/epoch - 3ms/step
Epoch 45/100
5/5 - 0s - loss: 0.0902 - accuracy: 0.9667 - 17ms/epoch - 3ms/step
Epoch 46/100
5/5 - 0s - loss: 0.0773 - accuracy: 0.9800 - 17ms/epoch - 3ms/step
Epoch 47/100
5/5 - 0s - loss: 0.0832 - accuracy: 0.9667 - 16ms/epoch - 3ms/step
Epoch 48/100
5/5 - 0s - loss: 0.0819 - accuracy: 0.9800 - 16ms/epoch - 3ms/step
Epoch 49/100
5/5 - 0s - loss: 0.0731 - accuracy: 0.9800 - 30ms/epoch - 6ms/step
Epoch 50/100
5/5 - 0s - loss: 0.0897 - accuracy: 0.9667 - 15ms/epoch - 3ms/step
Epoch 51/100
5/5 - 0s - loss: 0.0848 - accuracy: 0.9733 - 18ms/epoch - 4ms/step
Epoch 52/100
5/5 - 0s - loss: 0.0716 - accuracy: 0.9800 - 16ms/epoch - 3ms/step
Epoch 53/100
5/5 - 0s - loss: 0.0763 - accuracy: 0.9800 - 15ms/epoch - 3ms/step
Epoch 54/100
5/5 - 0s - loss: 0.0760 - accuracy: 0.9800 - 15ms/epoch - 3ms/step
Epoch 55/100
5/5 - 0s - loss: 0.0742 - accuracy: 0.9800 - 15ms/epoch - 3ms/step
Epoch 56/100
5/5 - 0s - loss: 0.0718 - accuracy: 0.9800 - 16ms/epoch - 3ms/step
Epoch 57/100
5/5 - 0s - loss: 0.0725 - accuracy: 0.9800 - 16ms/epoch - 3ms/step
Epoch 58/100
5/5 - 0s - loss: 0.0732 - accuracy: 0.9800 - 16ms/epoch - 3ms/step
Epoch 59/100
5/5 - 0s - loss: 0.0726 - accuracy: 0.9800 - 15ms/epoch - 3ms/step
Epoch 60/100
5/5 - 0s - loss: 0.0684 - accuracy: 0.9867 - 16ms/epoch - 3ms/step
Epoch 61/100
5/5 - 0s - loss: 0.0755 - accuracy: 0.9800 - 17ms/epoch - 3ms/step
Epoch 62/100
5/5 - 0s - loss: 0.0746 - accuracy: 0.9667 - 17ms/epoch - 3ms/step
Epoch 63/100
5/5 - 0s - loss: 0.0740 - accuracy: 0.9800 - 16ms/epoch - 3ms/step
Epoch 64/100
5/5 - 0s - loss: 0.0787 - accuracy: 0.9733 - 16ms/epoch - 3ms/step
Epoch 65/100
5/5 - 0s - loss: 0.0641 - accuracy: 0.9733 - 15ms/epoch - 3ms/step
Epoch 66/100
5/5 - 0s - loss: 0.0762 - accuracy: 0.9800 - 23ms/epoch - 5ms/step
Epoch 67/100
5/5 - 0s - loss: 0.0672 - accuracy: 0.9800 - 15ms/epoch - 3ms/step
Epoch 68/100
5/5 - 0s - loss: 0.0653 - accuracy: 0.9800 - 17ms/epoch - 3ms/step
Epoch 69/100
5/5 - 0s - loss: 0.0728 - accuracy: 0.9733 - 16ms/epoch - 3ms/step
Epoch 70/100
5/5 - 0s - loss: 0.1140 - accuracy: 0.9533 - 16ms/epoch - 3ms/step
Epoch 71/100
5/5 - 0s - loss: 0.1244 - accuracy: 0.9400 - 16ms/epoch - 3ms/step
Epoch 72/100
5/5 - 0s - loss: 0.0681 - accuracy: 0.9800 - 16ms/epoch - 3ms/step
Epoch 73/100
5/5 - 0s - loss: 0.0773 - accuracy: 0.9667 - 16ms/epoch - 3ms/step
Epoch 74/100
5/5 - 0s - loss: 0.1039 - accuracy: 0.9467 - 16ms/epoch - 3ms/step
Epoch 75/100
5/5 - 0s - loss: 0.1200 - accuracy: 0.9533 - 16ms/epoch - 3ms/step
Epoch 76/100
5/5 - 0s - loss: 0.0871 - accuracy: 0.9733 - 17ms/epoch - 3ms/step
Epoch 77/100
5/5 - 0s - loss: 0.0732 - accuracy: 0.9533 - 15ms/epoch - 3ms/step
Epoch 78/100
5/5 - 0s - loss: 0.0892 - accuracy: 0.9733 - 16ms/epoch - 3ms/step
Epoch 79/100
5/5 - 0s - loss: 0.0730 - accuracy: 0.9667 - 18ms/epoch - 4ms/step
Epoch 80/100
5/5 - 0s - loss: 0.0797 - accuracy: 0.9667 - 17ms/epoch - 3ms/step
Epoch 81/100
5/5 - 0s - loss: 0.0748 - accuracy: 0.9733 - 21ms/epoch - 4ms/step
Epoch 82/100
5/5 - 0s - loss: 0.0716 - accuracy: 0.9867 - 16ms/epoch - 3ms/step
Epoch 83/100
5/5 - 0s - loss: 0.0648 - accuracy: 0.9733 - 16ms/epoch - 3ms/step
Epoch 84/100
5/5 - 0s - loss: 0.0667 - accuracy: 0.9800 - 17ms/epoch - 3ms/step
Epoch 85/100
5/5 - 0s - loss: 0.0654 - accuracy: 0.9800 - 19ms/epoch - 4ms/step
Epoch 86/100
5/5 - 0s - loss: 0.0654 - accuracy: 0.9733 - 16ms/epoch - 3ms/step
Epoch 87/100
5/5 - 0s - loss: 0.0611 - accuracy: 0.9800 - 18ms/epoch - 4ms/step
Epoch 88/100
5/5 - 0s - loss: 0.0654 - accuracy: 0.9800 - 16ms/epoch - 3ms/step
Epoch 89/100
5/5 - 0s - loss: 0.0614 - accuracy: 0.9800 - 17ms/epoch - 3ms/step
Epoch 90/100
5/5 - 0s - loss: 0.0620 - accuracy: 0.9800 - 19ms/epoch - 4ms/step
Epoch 91/100
5/5 - 0s - loss: 0.0637 - accuracy: 0.9733 - 16ms/epoch - 3ms/step
Epoch 92/100
5/5 - 0s - loss: 0.0615 - accuracy: 0.9800 - 16ms/epoch - 3ms/step
Epoch 93/100
5/5 - 0s - loss: 0.0632 - accuracy: 0.9800 - 16ms/epoch - 3ms/step
Epoch 94/100
5/5 - 0s - loss: 0.0660 - accuracy: 0.9800 - 16ms/epoch - 3ms/step
Epoch 95/100
5/5 - 0s - loss: 0.0681 - accuracy: 0.9667 - 17ms/epoch - 3ms/step
Epoch 96/100
5/5 - 0s - loss: 0.0721 - accuracy: 0.9667 - 17ms/epoch - 3ms/step
Epoch 97/100
5/5 - 0s - loss: 0.0641 - accuracy: 0.9800 - 16ms/epoch - 3ms/step
Epoch 98/100
5/5 - 0s - loss: 0.0639 - accuracy: 0.9733 - 16ms/epoch - 3ms/step
Epoch 99/100
5/5 - 0s - loss: 0.0630 - accuracy: 0.9867 - 16ms/epoch - 3ms/step
Epoch 100/100
5/5 - 0s - loss: 0.0622 - accuracy: 0.9800 - 15ms/epoch - 3ms/step

In [144]:
df_cost = pd.read_csv(
    "https://data.heatonresearch.com/data/t81-558/iris_cost.csv", 
    na_values=['NA', '?'])

In [145]:
#For giving data to NN first convert it to numpy

#Slice out the columns first
columns = df.columns
x_columns = df[columns[:len(columns)-1]] 
y_columns = df[columns[len(columns)-1]]

#convert to numpy
X_test = x_columns.values #values just gives us an numpy array for the dataframe
Y_dummies = pd.get_dummies(y_columns)
#Dummies seperates each class and then you can use it to differenciate in an NN
Y_test = Y_dummies.values

In [149]:
from sklearn.metrics import accuracy_score
pred = model.predict(X_test)
score = np.sqrt(metrics.mean_squared_error(pred,Y_test))
print(f"Final score (RMSE): {score}")

5/5 [==============================] - 0s 4ms/step
Final score (RMSE): 0.10457538068294525

In [151]:
#Now transfer learning
model2 = Sequential()
for layer in model.layers:
  model2.add(layer)
model2.summary()

Model: "sequential_20"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_87 (Dense)            (None, 128)               640

 dense_88 (Dense)            (None, 64)                8256

 dense_89 (Dense)            (None, 28)                1820

 dense_90 (Dense)            (None, 3)                 87

=================================================================
Total params: 10,803
Trainable params: 10,803
Non-trainable params: 0
_________________________________________________________________

In [153]:
#Same error rate as before
from sklearn.metrics import accuracy_score
pred = model2.predict(X_test)
score = np.sqrt(metrics.mean_squared_error(pred,Y_test))
print(f"Final score (RMSE): {score}")

5/5 [==============================] - 0s 2ms/step
Final score (RMSE): 0.10457538068294525

In [155]:
#TL with certain layers in the model
model3 = Sequential()
for i in range(2):
  layer = model2.layers[i]
  layer.trainable = False
  model3.add(layer)
model3.summary()
#Now parameters are reduced and one set of weight are discarded

Model: "sequential_22"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_87 (Dense)            (None, 128)               640

 dense_88 (Dense)            (None, 64)                8256

=================================================================
Total params: 8,896
Trainable params: 0
Non-trainable params: 8,896
_________________________________________________________________